{% load static %} {% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap/bootstrap.min.css' %}"
    />

    <!-- Main CSS, then Sidebar CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/sidebar.css' %}"
    />

    <title>XIE - Logout</title>
    <style>
      body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
      }
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    </style>
  </head>

  <body>
    <div
      class="align-middle"
      style="color: #ffff; font-style: bold; font-size: 3rem"
    >
      Inventory Analyzing System
    </div>
    <br />

    <div class="row d-flex justify-content-center">
      <div class="col-md-6">
        <h2 class="align-middle" style="color: #494949">
          You have been logged out! Thank you for using XIE
        </h2>
        <div class="border-top pt-3 align-middle">
          <a href="{% url 'login' %}"
            ><button class="ml-2 btn btn-outline-secondary btn-lg">
              Log In Again
            </button></a
          >
          <br /><br />
          {# <button class="ml-2 ghost-red">Exit</button> #}
        </div>

        <div class="align-middle">
          <a style="color: #fff" href="{% url 'about' %}">About</a>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'bootstrap/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'bootstrap/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap/bootstrap.min.js' %}"></script>
  </body>
</html>
